.product-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    gap: 16px;
    padding: 20px;
    margin-top: 70px;
    margin-left: 20px;
    max-height: calc(100vh - 120px); /* Giới hạn chiều cao */
    overflow-y: auto;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;
}

.product-list::-webkit-scrollbar {
    display: none;              /* Chrome, Safari */
}

.product-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.07);
    padding: 12px 10px 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.2s;
    max-height: 260px;
    overflow: hidden;
}

.product-item:hover {
    /* transform: translateY(-4px); */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
    background: #f5f5f5;
}

.addtocart-btn {
    background-color: #2ecc40;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 5px;
}

.addtocart-btn:hover {
    background-color: #27ae38;
    box-shadow: 0 4px 16px rgba(46,204,64,0.15);
}